.blog {
	margin-top: 50px;
}

br {
	margin: 15px;
}

.blog h2 {
	color: #564F50 !important;
	font-size:2.5em;
	margin-bottom: 10px;
}

.blog h2 a {
	color: #564F50 !important;
}

.para {
	color: #564F50;
	font-size: 1.2em;
}
                            