.gallery {
	width: 100%;
	height: auto;
}

.gallery ul {
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 40px;
}

.gallery ul li {
	display: inline-block;
	width: 250px;
	height: auto;
	margin: 0 20px 20px 0;
	border:1px solid rgba(50, 50, 50, 0.2);
	padding: 20px;
	box-shadow: none;
	transition: border 150ms ease,
				box-shadow 150ms ease;
}

.gallery ul li:hover {
	box-shadow: 0px 0px 5px 0px  rgba(219,177,91, 0.7);
	border:  1px solid rgba(219,177,91, 0.4);
}

.picture {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.picture img {
	width: 100%;
	height: auto;
}

@media all and (min-width: 735px) {
	.picture li {
		margin:20px;
		width: 300px;
	}
}